Factuur datum : {{ header["Dagtekening factuur"] }}
Factuurnummer declarant : {{ header["Factuurnummer declarant"] }}
Uzovi-nummer : {{ header["Uzovi-nummer"] }}

{% for line in lines %}
    
    {% for date in line["Datum prestatie"] %}
        {{ date }} {{ line["Voorletters verzekerde"] }} {{ line["Naam verzekerde (01)"] }}
    {% endfor %}
{% endfor %}